<% provide(:title, "ログイン") %>

<div class="form-block pt-3">
<div class="container">
<div class="row">
  <div class="post-form col-11 col-md-5 mx-auto">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード"%>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
        <span>ログイン状態を保持する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>

    <p>新規登録がまだお済みでない方 <%= link_to "新規登録", signup_path %></p>
  </div>
</div>
</div>
</div>