<% provide(:title, @user.name) %>
<h1>あとで消す</h1>
<%= @user.name %>
<%= image_tag @user.picture.url if @user.picture? %>
<%= @user.email %>
<%= link_to "編集", edit_user_path(@user) %>
<%= link_to "削除", @user, method: :delete,
                             data: { confirm: "本当に削除してもいいですか?" } %>
