<h1>消す</h1>
<h1>消す</h1>

<%= link_to "チーズ", category_path(1) %>
<%= link_to "タピオカ", category_path(2) %>
<%= link_to "肉", category_path(3) %>
<%= link_to "ラーメン", category_path(4) %>
<%= link_to "韓国", category_path(5) %>
<%= link_to "いちご", category_path(6) %>
<%= link_to "抹茶", category_path(7) %>
<%= link_to "オムレツ", category_path(8) %>
<%= link_to "その他", category_path(9) %>
<ul class="category">
 <%= render @category %>
</ul>
